page-item-details {
	.img_gallery{
	height: 25px;
	margin-top: 1px;
	padding-right: 10%;
	}
	.p_costume{
	font-size: 0.8rem;
	color:#b4b4b4;
	}
	.p_costume2{
	font-size: 0.7rem;
	color:#bdb3a6;
	}
	.row_cos_{
	    height: 15px;
	}
	.a_size{
	  font-size: 0.8rem;
	}
	.p_costume3{
		font-size: 0.9rem;
	}
	.p_costume4{
		font-size: 0.8rem;
	}
	.img_cos{
	    background-color: #bbb;
	}
}
