
<ion-content>
	<ion-grid no-margin no-padding >
		<ion-row>
			<ion-col col-1>
			</ion-col>
			<ion-col col-10>
				<ion-row style="padding-top: 3%;">
					<ion-col col-6>
						{{details.data[0].title_c}}
					</ion-col>
					
					<ion-col col-6 align-self-end >
						<ion-row justify-content-end align-items-end>
							<b style="color:#ed1c24;">AED {{details.data[0].price_c}}</b>
						</ion-row>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-4>
						<ion-row *ngFor="let image of details.data[0].images_c | slice:1">
							<img  class="img_gallery" src="http://automark.ae/Public/uploads/{{image}}" imageViewer/>
						</ion-row>
						
					</ion-col>
					<ion-col col-8>
						<img src="http://automark.ae/Public/uploads/{{details.data[0].images_c[0]}}" imageViewer/>
					</ion-col>
				</ion-row>
			</ion-col>
			<ion-col col-1>
			</ion-col>
		</ion-row>
		<ion-row style="background-color: #363636;padding: 12px;">
			<ion-col col-12>
				<ion-row>
					<b style="color:#ebebeb;padding-right: 10px">المعلومات الأساسية</b>
				</ion-row>
				<ion-row>
					<ion-col col-6>
						
						<ion-row class="row_cos_" *ngFor="let item of details.data[0].cars_meta_details | slice:0:5">
							<ion-col col-8 *ngIf="item.id_o !=26">
								<b class="p_costume">{{item.name_o_ar}}</b>
							</ion-col>
							<ng-container *ngIf="item.id_o !=26">
								<ion-col col-4 [ngSwitch] = "item.value_m">
										  <b class="p_costume2" *ngSwitchCase="'4'">عادي</b>
										  
										  <b class="p_costume2" *ngSwitchCase="'5'">اوتوماتك</b>
										  <b class="p_costume2" *ngSwitchCase="'6'">ممتازه</b>
										  <b class="p_costume2" *ngSwitchCase="'7'">جيده</b>
										  <b class="p_costume2" *ngSwitchCase="'8'">متوسطه</b>
										  <b class="p_costume2" *ngSwitchCase="'9'">بحاجة الى صيانة</b>
										  <b class="p_costume2" *ngSwitchCase="'10'">كوبيه</b>
										 
										  <b class="p_costume2" *ngSwitchCase="'11'">كشف</b>
										  <b class="p_costume2" *ngSwitchCase="'12'">دفع رباعي</b>
										   <b class="p_costume2" *ngSwitchCase="'13'">سيدان</b>
										  <b class="p_costume2" *ngSwitchCase="'14'">صغيره</b>
										   <b class="p_costume2" *ngSwitchCase="'15'">فاخرة</b>
										<b class="p_costume2" *ngSwitchDefault>{{item.value_m}}</b>
										  
								</ion-col>
							</ng-container>
							 <!--<ion-col col-8 [ngSwitch] = "item.code_m">
								  <b class="p_costume" *ngSwitchCase="'claas_car'">الفئة</b>
								  
								  <b class="p_costume" *ngSwitchCase="'case'">الحالة</b>
								  <b class="p_costume" *ngSwitchCase="'kilometersconsumed'">الكيلومترات المقطوعة</b>
								  <b class="p_costume" *ngSwitchCase="'transmission'">ناقل الحركة</b>
								  <b class="p_costume" *ngSwitchCase="'fuel'">الوقود</b>
								  <b class="p_costume" *ngSwitchCase="'badi_case'">حالة البدي</b>
								  <b class="p_costume" *ngSwitchCase="'stat_mator'">حالة المكينة</b>
								 
								  <b class="p_costume" *ngSwitchCase="'supplier'">المورد</b>
								  <b class="p_costume" *ngSwitchCase="'numberselender'">عدد السلندرات</b>
								  <!--<b class="p_costume" *ngSwitchCase="'specifications'">الفccccئة</b>-->
								  
							<!-- </ion-col>
							 <ion-col col-4 [ngSwitch] = "item.value_m">
								  <b class="p_costume2" *ngSwitchCase="'4'">عادي</b>
								  
								  <b class="p_costume2" *ngSwitchCase="'5'">اوتوماتك</b>
								  <b class="p_costume2" *ngSwitchCase="'6'">ممتازه</b>
								  <b class="p_costume2" *ngSwitchCase="'7'">جيده</b>
								  <b class="p_costume2" *ngSwitchCase="'8'">متوسطه</b>
								  <b class="p_costume2" *ngSwitchCase="'9'">بحاجة الى صيانة</b>
								  <b class="p_costume2" *ngSwitchCase="'10'">كوبيه</b>
								 
								  <b class="p_costume2" *ngSwitchCase="'11'">كشف</b>
								  <b class="p_costume2" *ngSwitchCase="'12'">دفع رباعي</b>
								   <b class="p_costume2" *ngSwitchCase="'13'">سيدان</b>
								  <b class="p_costume2" *ngSwitchCase="'14'">صغيره</b>
								   <b class="p_costume2" *ngSwitchCase="'15'">فاخرة</b>
								<b class="p_costume2" *ngSwitchDefault>{{item.value_m}}</b>
								  <!--<b class="p_costume" *ngSwitchCase="'specifications'">الفccccئة</b>-->
								  
							 <!--</ion-col>-->
						</ion-row>
						<ion-row class="row_cos_">
							 <ion-col col-8>
							 	<b class="p_costume">عام التصنيع</b>
							 </ion-col>
							 <ion-col col-4>
							 	<b class="p_costume2">{{details.data[0].year_c}}</b>
							 </ion-col>
						</ion-row>
						
					</ion-col>
					<ion-col col-6> 
						<ion-row class="row_cos_" *ngFor="let item of details.data[0].cars_meta_details | slice:5">
							  <!--<ion-col col-8 [ngSwitch] = "item.code_m">
								  <b class="p_costume" *ngSwitchCase="'claas_car'">الفئة</b>
								  
								  <b class="p_costume" *ngSwitchCase="'case'">الحالة</b>
								  <b class="p_costume" *ngSwitchCase="'kilometersconsumed'">الكيلومترات المقطوعة</b>
								  <b class="p_costume" *ngSwitchCase="'transmission'">ناقل الحركة</b>
								  <b class="p_costume" *ngSwitchCase="'fuel'">الوقود</b>
								  <b class="p_costume" *ngSwitchCase="'badi_case'">حالة البدي</b>
								  <b class="p_costume" *ngSwitchCase="'stat_mator'">حالة المكينة</b>
								 
								  <b class="p_costume" *ngSwitchCase="'supplier'">المورد</b>
								  <b class="p_costume" *ngSwitchCase="'numberselender'">عدد السلندرات</b>
								  <!--<b class="p_costume" *ngSwitchCase="'specifications'">الفccccئة</b>-->
								  
							 <!--</ion-col>
							 <ion-col col-4 [ngSwitch] = "item.value_m">
								  <b class="p_costume2" *ngSwitchCase="'4'">عادي</b>
								  
								  <b class="p_costume2" *ngSwitchCase="'5'">اوتوماتك</b>
								  <b class="p_costume2" *ngSwitchCase="'6'">ممتازه</b>
								  <b class="p_costume2" *ngSwitchCase="'7'">جيده</b>
								  <b class="p_costume2" *ngSwitchCase="'8'">متوسطه</b>
								  <b class="p_costume2" *ngSwitchCase="'9'">بحاجة الى صيانة</b>
								  <b class="p_costume2" *ngSwitchCase="'10'">كوبيه</b>
								 
								  <b class="p_costume2" *ngSwitchCase="'11'">كشف</b>
								  <b class="p_costume2" *ngSwitchCase="'12'">دفع رباعي</b>
								   <b class="p_costume2" *ngSwitchCase="'13'">سيدان</b>
								  <b class="p_costume2" *ngSwitchCase="'14'">صغيره</b>
								   <b class="p_costume2" *ngSwitchCase="'15'">فاخرة</b>
								<b class="p_costume2" *ngSwitchDefault>{{item.value_m}}</b>
								  
							 </ion-col>-->
							 <ion-col col-8 *ngIf="item.id_o !=26">
								<b class="p_costume">{{item.name_o_ar}}</b>
							</ion-col>
							<ng-container *ngIf="item.id_o !=26">
								<ion-col col-4 [ngSwitch] = "item.value_m">
									  <b class="p_costume2" *ngSwitchCase="'4'">عادي</b>
									  
									  <b class="p_costume2" *ngSwitchCase="'5'">اوتوماتك</b>
									  <b class="p_costume2" *ngSwitchCase="'6'">ممتازه</b>
									  <b class="p_costume2" *ngSwitchCase="'7'">جيده</b>
									  <b class="p_costume2" *ngSwitchCase="'8'">متوسطه</b>
									  <b class="p_costume2" *ngSwitchCase="'9'">بحاجة الى صيانة</b>
									  <b class="p_costume2" *ngSwitchCase="'10'">كوبيه</b>
									 
									  <b class="p_costume2" *ngSwitchCase="'11'">كشف</b>
									  <b class="p_costume2" *ngSwitchCase="'12'">دفع رباعي</b>
									   <b class="p_costume2" *ngSwitchCase="'13'">سيدان</b>
									  <b class="p_costume2" *ngSwitchCase="'14'">صغيره</b>
									   <b class="p_costume2" *ngSwitchCase="'15'">فاخرة</b>
									<b class="p_costume2" *ngSwitchDefault>{{item.value_m}}</b>
									  
								 </ion-col>
							</ng-container>
						</ion-row>
					
					</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>
		<ion-row style="background-color: #ebebeb;padding: 12px;">
			<ion-col col-12>
				<ion-row>
					<b style="color:#363636;padding-right: 10px">المعلومات الأضافية</b>
				</ion-row>
				<ion-row  *ngFor="let item of details.data[0].cars_meta_details">

					<p *ngIf="item.id_o ==26" style="padding-right: 10px">{{item.value_m}}</p>
				</ion-row>
			</ion-col>
		</ion-row>

		<ion-row style="padding: 12px;">
			<ion-col col-6>
				<ion-row>
					<ion-col col-5  no-padding no-margin>
						<b class="p_costume3">البائع :</b>
					</ion-col>
					<ion-col col-7  no-padding no-margin>
						<b class="p_costume4">{{details.data[0].users.name_u}} {{details.data[0].users.lastname_u}}</b>
					</ion-col>
					
				</ion-row>
				<ion-row>
					<ion-col col-5  no-padding no-margin>
						<b class="p_costume3">الموبايل :</b>
					</ion-col>
					<ion-col col-7  no-padding no-margin>
						<b class="p_costume4">{{details.data[0].users.mobile_u}}</b>	
					</ion-col>
					
				</ion-row>
			</ion-col>
			<ion-col col-6>
				<ion-row>
				
					<ion-col col-4 no-padding no-margin>
						<b class="p_costume3" style="padding-right:0px!important;">مشاركة :</b>
					</ion-col>
					<ion-col col-2 >
						<img class="img_cos" src="assets/icon/Details/g+.png">
					</ion-col>
					<ion-col col-2  >
						<img  class="img_cos" src="assets/icon/Details/linkedin.png">
					</ion-col>
					<ion-col col-2 >
						<img class="img_cos" src="assets/icon/Details/twitter.png">
					</ion-col>
					<ion-col col-2  >
						<img  class="img_cos" style="width: 6px;" src="assets/icon/Details/facebook.png">
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-2>
					</ion-col>
					<ion-col col-5>
						<a href="#" class="a_size">أتصل الأن&ensp;|</a>
					</ion-col>
					<ion-col col-5>
						<ion-label (click)="sendMessage(details.data[0].id_user)"> أرسل رسالة </ion-label>
						<!-- <a href="" class="a_size">أرسل رسالة</a> -->
					</ion-col>
				</ion-row> 
			</ion-col>
		</ion-row>
			
	</ion-grid>
</ion-content>
 