<ion-content class="item-details-container" *ngIf="details != null">
  <ion-grid no-margin no-padding>
    <ion-row justify-content-center>
      <ion-col col-12 class="item-header">
        <span class="item-title">{{details.data[0].title_c}}</span>
        <span class="item-price">
          <strong class="red">{{details.data[0].price_c}}</strong>
        </span>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center class="gallery-container">
      <ion-col col-2 col-sm-2 col-md-1>
        <div class="thumbnail-image" *ngFor="let image of details.data[0].images_c | slice:1">
          <img src="http://automark.ae/Public/uploads/{{image}}" imageViewer/>
        </div>
      </ion-col>
      <ion-col col-9 col-sm-8 col-md-7>

        <div class="full-image">
          <img *ngIf="details.data[0].category_c != 2 && details.data[0].category_c != 3" src="http://automark.ae/Public/uploads/{{details.data[0].images_c[0]}}" imageViewer/>
          <img *ngIf="details.data[0].category_c == 2" src="assets/imgs/plates.jpeg" />
          <img *ngIf="details.data[0].category_c == 3" src="assets/imgs/numbers.jpeg" />
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="main-item-details-container" style="background-color: #363636;padding: 12px;">
      <ion-col col-12>
        <ion-row>
          <strong class="white padding-h-20">المعلومات الأساسية</strong>
        </ion-row>
        <ion-row>
          <ion-col class="details-column" col-12 col-sm-6>
            <div class="details-container fleft">
              <div *ngFor="let item of details.data[0].cars_meta_details | slice:0:5">
                <div *ngIf="item.id_o != 26">
                  <strong class="item-heading">{{item.name_o_ar}}</strong>
                  <strong class="item-value">{{getOptionValue(item.value_m)}}</strong>
                  <strong *ngIf="item.value_m == ''" class="item-value">غير متوفر</strong>
                </div>
              </div>
              <div *ngIf="details.data[0].category_c != 2 && details.data[0].category_c != 5">
                <div>
                  <strong class="item-heading">عام التصنيع</strong>
                  <strong class="item-value">{{details.data[0].year_c}}</strong>
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col class="details-column" col-12 col-sm-6>
            <div class="details-container fright">
              <div *ngFor="let item of details.data[0].cars_meta_details | slice:5">
                <div *ngIf="item.id_o != 26">
                  <strong class="item-heading">{{item.name_o_ar}}</strong>
                  <strong class="item-value">{{getOptionValue(item.value_m)}}</strong>
                  <strong *ngIf="item.value_m == ''" class="item-value">غير متوفر</strong>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row style="background-color: #ebebeb;padding: 12px;">
      <ion-col col-12>
        <ion-row>
          <b style="color:#363636;padding-right: 10px">المعلومات الأضافية</b>
        </ion-row>
        <ion-row *ngFor="let item of details.data[0].cars_meta_details">

          <p *ngIf="item.id_o ==26" style="padding-right: 10px">{{item.value_m}}</p>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row style="padding: 12px;">
      <ion-col col-4>
        <ion-row>
          <ion-col col-5 no-padding no-margin>
            <b class="p_costume3">البائع :</b>
          </ion-col>
          <ion-col col-7 no-padding no-margin>
            <b class="p_costume4">{{details.data[0].users.name_u}} {{details.data[0].users.lastname_u}}</b>
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col col-5 no-padding no-margin>
            <b class="p_costume3">الموبايل :</b>
          </ion-col>
          <ion-col col-7 no-padding no-margin>
            <b class="p_costume4">{{details.data[0].users.mobile_u}}</b>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col col-8 align-self-end>
        <div class="social-icons-container">
          <strong class="share-title">مشاركة</strong>
          <ul class="social-icons-list">
            <li (click)="share()">
              <ion-icon class="social-icon" ios="logo-googleplus" md="logo-googleplus"></ion-icon>
            </li>
            <li (click)="share()">
              <ion-icon class="social-icon" ios="logo-linkedin" md="logo-linkedin"></ion-icon>
            </li>
            <li (click)="share()">
              <ion-icon class="social-icon" ios="logo-twitter" md="logo-twitter"></ion-icon>
            </li>
            <li (click)="share()">
              <ion-icon class="social-icon" ios="logo-facebook" md="logo-facebook"></ion-icon>
            </li>
          </ul>
        </div>
        <div class="contact-option-containers">
          <ul class="contact-options-list">
            <li (click)="callUser()">
              <ion-label class="red">أتصل الأن</ion-label>
            </li>
            <li>
              <ion-label class="red" (click)="sendMessage(details.data[0].id_user)"> أرسل رسالة </ion-label>
            </li>
          </ul>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
