<ion-content>
  <ion-list-header text-center>
    <strong class="red">أحدث الإعلانات</strong>
  </ion-list-header>
  <ion-grid justify-content-center *ngIf="dataFetched == true">
    <ion-row *ngFor="let category of homeData" justify-content-center no-padding class="padding-v-10">
      <ion-col col-12>
        <h2 class="advertisment-container-title">{{category.catName}}</h2>
      </ion-col>
      <ng-container *ngIf="category.data.length > 0">
        <ion-col col-4 col-sm-3 col-md-2 *ngFor="let advertisment of category.data">
       <ion-card class="card-home card-home" (click)="ShowDetails(advertisment.id_c);">
            <img *ngIf="advertisment.category_c != 2 && advertisment.category_c != 3" class="advertisment-image" src="{{assetsBaseUrl}}{{advertisment.images_c[0]}}" />
            <img *ngIf="advertisment.category_c == 2" class="advertisment-image" src="assets/imgs/plates.jpeg" />
            <img *ngIf="advertisment.category_c == 3" class="advertisment-image" src="assets/imgs/numbers.jpeg" />
            <div class="home-details">
              <div class="item-title text-center">
                <strong>{{advertisment.title_c}}</strong>
              </div>
              <div class="item-footer">
                <span class="item-price fright ltr">{{advertisment.price_c}}</span>
              </div>
            </div>
          </ion-card>
        </ion-col>
        <ion-col col-12 justify-content-center>
          <button ion-button full class="home-showmore" color="dark" (click)="showmore(category.catId)"> اعرض المزيد </button>
      </ion-col>
      </ng-container>
      <ng-container *ngIf="category.data.length == 0">
        <ion-col col-12 justify-content-center>
          <div class="no-content-container">
              <img class="no-add-img" src="assets/imgs/no_ads.png">
              <ion-label>لايوجد إعلانات لهذا النوع حالياً</ion-label>
          </div>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>
