<ion-header class="main-header">
  <div class="header-logo-container" (click)="homePage()">
    <img class="img-responsive header-logo" full src="assets/icon/header_logo.png" />
  </div>
  <div class="header-nav-items">
    <ul class="nav-items">
      <li class="nav-item" *ngIf="loginStatus == false" (click)="login()">
        <ion-label  class="nav-label" >تسجيل دخول</ion-label>
      </li>
      <li class="nav-item" *ngIf="loginStatus == true" (click)="authProvider.logout()">
          <ion-label class="nav-label">تسجيل خروج</ion-label>
        </li>
      <!-- <li class="nav-item" hidden>
        <ion-label class="nav-label"> اتصل بنا </ion-label>
      </li> -->
    </ul>
  </div>
</ion-header>
<ion-grid no-padding class="main-navigation">
  <ion-row no-padding>
      
    <ion-col col-2 no-padding class="main-navigation-item" (click)="openSearchResultPage(1)">
      <button ion-button full class="disable-hover main-navigation-btn">
        <ion-icon name="cars"></ion-icon>
      </button>
      <ion-label class="main-navigation-item-label">سيارات</ion-label>
    </ion-col>
    <ion-col col-2 no-padding class="main-navigation-item" (click)="openSearchResultPage(4)">
      <button ion-button full class="disable-hover main-navigation-btn">
        <ion-icon class="main-navigation-icon" name="bikes"></ion-icon>
      </button>
      <ion-label class="main-navigation-item-label">دراجات</ion-label>
    </ion-col>
    <ion-col col-2 no-padding class="main-navigation-item" (click)="openSearchResultPage(6)">
      <button ion-button full class="disable-hover main-navigation-btn">
        <ion-icon class="main-navigation-icon" name="trucks"></ion-icon>
      </button>
      <ion-label class="main-navigation-item-label">شاحنات</ion-label>
    </ion-col>
    <ion-col col-2 no-padding class="main-navigation-item" (click)="openSearchResultPage(5)">
      <button ion-button full class="disable-hover main-navigation-btn">
        <ion-icon class="main-navigation-icon" name="boats"></ion-icon>
      </button>
      <ion-label class="main-navigation-item-label">قوارب</ion-label>
    </ion-col>
    <ion-col col-2 no-padding class="main-navigation-item" (click)="openSearchResultPage(3)">
      <button ion-button full class="disable-hover main-navigation-btn">
        <ion-icon class="main-navigation-icon" name="phones"></ion-icon>
      </button>
      <ion-label class="main-navigation-item-label">أرقام موبايل</ion-label>
    </ion-col>
    <ion-col col-2 no-padding class="main-navigation-item" (click)="openSearchResultPage(2)">
      <button ion-button full class="disable-hover main-navigation-btn">
        <ion-icon class="main-navigation-icon"  name="cars_numbers"></ion-icon>
      </button>
      <ion-label class="main-navigation-item-label">أرقام سيارات</ion-label>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-nav class="nav-menu" #nav [root]="rootPage"></ion-nav>
<ion-footer>
  <ion-row>
    <ion-col col-2 no-padding full class="footer-item">
      <button (click)="ShowMyAccount()" ion-button full class="disable-hover footer-btn">
        <ion-icon name='my_account'></ion-icon>
      </button>
      <ion-label class="footer-item-label">حسابي</ion-label>
    </ion-col>
    <ion-col col-2 no-padding full class="footer-item">
      <button ion-button full class="disable-hover footer-btn" (click)="messaging()">
        <ion-icon name='chats'></ion-icon>
      </button>
      <ion-label class="footer-item-label" >محادثات</ion-label>
    </ion-col>
    <ion-col col-4 no-padding full class="footer-item add-advertisment">
      <button (click)="add_ad()" ion-button full class="disable-hover add-advertisment-btn">
        <ion-icon name='add_ad'></ion-icon>
      </button>
      <ion-label class="footer-item-label">أضف إعلانك مجانا</ion-label>
    </ion-col>
    <ion-col col-2 no-padding full class="footer-item">
      <button (click)="showroom()" ion-button full class="disable-hover footer-btn">
        <ion-icon name='m3ard'></ion-icon>
      </button>
      <ion-label class="footer-item-label">معارض</ion-label>
    </ion-col>
    <ion-col col-2 no-padding full class="footer-item">
      <button ion-button full (click)="ShowFilter()" class="disable-hover footer-btn">
        <ion-icon name='search'></ion-icon>
      </button>
      <ion-label class="footer-item-label">بحث</ion-label>
    </ion-col>
  </ion-row>
</ion-footer>