<ion-content class="profile-content" no-padding *ngIf="userInfo != null">
	<div class="my-account">
		<div class="my-account-header bg-dark">
			<h2 class="section-title white padding-h-20" (click)="closeModal()"> حسابي </h2>
		</div>
		<div class="my-account-content bg-grey">
			<div class="personal-info">
				<div class="personal-info-row padding-v-20">
					<span class="title">الاسم:</span>
					<span class="value"> {{userInfo.username}} </span>
				</div>
				<div class="personal-info-row" hidden>
					<span class="title">تاريخ الميلاد:</span>
					<span class="value"> غير محدد </span>
				</div>
				<div class="personal-info-row">
					<span class="title">رقم الموبايل:</span>
					<span class="value" *ngIf="userInfo.mobile_u != '' && userInfo.mobile_u != null "> {{userInfo.mobile_u}} </span>
					<span class="value" *ngIf="userInfo.mobile_u == '' || userInfo.mobile_u == null "> غير محدد </span>
				</div>
				<div class="personal-info-row">
					<span class="title">البريد الالكتروني:</span>
					<span class="value" *ngIf="userInfo.email_u != '' && userInfo.email_u != null "> {{userInfo.email_u}} </span>
					<span class="value" *ngIf="userInfo.email_u == '' || userInfo.email_u == null "> غير محدد </span>
				</div>
				<div class="personal-info-row" hidden>
					<span class="title">الاقامة:</span>
					<span class="title">دولة:</span>
					<span class="value"> غير محددة </span>
					<span class="title margin-r-20">مدينة:</span>
					<span class="value">غير محددة</span>
				</div>
				<div class="personal-info-row" hidden>
					<span class="title">اللغة المفضلة:</span>
					<span class="value"> العربية </span>
				</div>
			</div>
			<div class="edit-my-account">
				<button ion-button class="edit-profile-button white" (click)="editprofile()">تعديل البيانات</button>
			</div>
		</div>
		<div class="profile-image">
			<img *ngIf="userInfo.image_u == '' || userInfo.image_u == null" src="assets/imgs/user-placeholder.jpeg" (click)="editImage()" />
			<img *ngIf="userInfo.image_u != '' && userInfo.image_u != null" src="{{assetsUrl}}{{userInfo.image_u}}" (click)="editImage()" />
		</div>
	</div>
	<ion-list no-padding no-margin>
		<ion-item no-padding class="bg-dark profile-list-item" (click)="showMessages()">
			<div class="icon-container">
				<span class="profile-list-item-icon">
					<ion-icon class="red" name="mail"></ion-icon>
				</span>
			</div>
			<div class="description-container">
				<span class="profile-list-item-description"> الرسائل المستلمة </span>
			</div>



		</ion-item>
		<ion-item no-padding class="bg-dark profile-list-item" (click)="showMyAddvertisments()">
			<div class="icon-container">

				<span class="profile-list-item-icon">
					<ion-icon class="red" name="document"></ion-icon>
				</span>
			</div>
			<div class="description-container">
				<span class="profile-list-item-description"> قائمة إعلاناتي </span>
			</div>
		</ion-item>
	</ion-list>
</ion-content>

