page-my-account {
}
.b_cos1{
	font-size: 1.3rem;
    color: #a1a1a1;
}
.b_cos2{
	font-size: 1.1rem;
    color: white;
}
.row_cos{
	background-color:#252525;border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #1e1e1e;    padding: 4%!important;
}
.col_cos{
	padding-right: 4%!important;
    padding-top: 1%!important;
}
.f_row_cos{
	padding-right: 8%!important;
    padding-bottom: 3%!important;
}
.item-md.item-block .item-inner {
    padding-right: 0px!important;
    border-bottom: 0px!important;
}