
<ion-content class="add-advertisment-content bg-grey" no-padding>
  <h2 class="container-title padding-h-20 padding-t-20 padding-b-10 text-right white">أضف إعلان</h2>
  <div class="advertisment-container">
    <ion-grid>
      <ion-row class="advertisment-type" justify-content-center>
        <ion-col [class.active]="activeTab == 1" (click)="setActiveTab(1)">
          <ion-label>سيارات</ion-label>
        </ion-col>
        <ion-col [class.active]="activeTab == 2" (click)="setActiveTab(2)">
          <ion-label>دراجات</ion-label>
        </ion-col>
        <ion-col [class.active]="activeTab == 3" (click)="setActiveTab(3)">
          <ion-label>شاحنات</ion-label>
        </ion-col>
        <ion-col [class.active]="activeTab == 4" (click)="setActiveTab(4)">
          <ion-label>قوارب</ion-label>
        </ion-col>
        <ion-col class="last" [class.active]="activeTab == 5" (click)="setActiveTab(5)">
          <ion-label>ارقام</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="activeTab == 1">
      <ion-row class="add-advertisment-form dark-controls">
        <ion-col col-12>
          <ion-item>
            <ion-input [(ngModel)]="title" type="text" placeholder="عنوان الإعلان"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col col-6>
          <ion-item>
            <ion-label>النوع</ion-label>
            <!--<ion-select [placeholder]="'النوع'" okText="تم" cancelText="إغلاق">
              <ion-option value="value1">كيا</ion-option>
              <ion-option value="value2">مازدا</ion-option>
              <ion-option value="value3">ميرسيدس</ion-option>
            </ion-select>-->
            <ion-select [placeholder]="'النوع'" [(ngModel)]="type" okText="إختيار" cancelText="إغلاق">
              <ion-option *ngFor="let cartype of carstype.data" value="{{cartype.id_t}}" >{{cartype.name_t_ar}} </ion-option>
             
              </ion-select>
          </ion-item>
        </ion-col>

        <ion-col col-6>
          <ion-item>
            <ion-label>عدد الكيلومترات</ion-label>
            <!--<ion-select [placeholder]="'عدد الكيبلومترات'" okText="تم" cancelText="إغلاق">
              <ion-option value="value1">1</ion-option>
              <ion-option value="value2">2</ion-option>
            </ion-select>-->
            <ion-select [placeholder]="'عدد الكيبلومترات'" [(ngModel)]="kilom" okText="إختيار" cancelText="إغلاق">
                  <ion-option *ngFor="let year of kilomtrat.data[0].value_option" value="{{year.id_v}}" >{{year.value_v}} </ion-option>
              </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label>الموديل</ion-label>
            <!--<ion-select [placeholder]="'الموديل'" okText="تم" cancelText="إغلاق">
              <ion-option value="value1">1</ion-option>
              <ion-option value="value2">2</ion-option>
            </ion-select>-->
            <ion-select [placeholder]="'الموديل'" [(ngModel)]="model" okText="إختيار" cancelText="إغلاق">
            
                  <ion-option *ngFor="let carmodel of carsmodels.data.value_option" value="{{carmodel.id_v}}" >{{carmodel.id_v}} </ion-option>
              
              </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label>الأبواب</ion-label>
            <ion-select [placeholder]="'الأبواب'" okText="تم" cancelText="إغلاق">
              <ion-option value="value1">2</ion-option>
              <ion-option value="value2">4</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label>الهيئة</ion-label>
            <!--<ion-select [placeholder]="'الهيئة'" okText="تم" cancelText="إغلاق">
              <ion-option value="value1">نظيفة</ion-option>
              <ion-option value="value2">حالة جيدة</ion-option>
            </ion-select>-->
            <ion-select [placeholder]="'الهيئة'" [(ngModel)]="status" okText="إختيار" cancelText="إغلاق">
                  <ion-option *ngFor="let carmodel of carsstatus.data[0].value_option" value="{{carmodel.id_v}}" >{{carmodel.value_v}} </ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label>مواصفات الصنع</ion-label>
            <ion-select [placeholder]="'مواصفات الصنع'" okText="تم" cancelText="إغلاق">
              <ion-option value="value1">معايير عالية</ion-option>
              <ion-option value="value2">معايير متوسطة</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label>سنة الصنع</ion-label>
            <!--<ion-select [placeholder]="'سنة الصنع'" okText="تم" cancelText="إغلاق">
              <ion-option value="value1">2010</ion-option>
              <ion-option value="value2">2012</ion-option>
            </ion-select>-->
            <ion-select [placeholder]="'سنة الصنع'" [(ngModel)]="year" okText="إختيار" cancelText="إغلاق">
                  <ion-option *ngFor="let year of years.data[0].value_option" value="{{year.id_v}}" >{{year.value_v}} </ion-option>
              </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label>الضمان</ion-label>
            <ion-select [placeholder]="'الضمان'" okText="تم" cancelText="إغلاق">
              <ion-option value="value1">مع ضمان</ion-option>
              <ion-option value="value2">بدون ضمان</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label>اللون</ion-label>
            <ion-select [placeholder]="'الصنع'" okText="تم" cancelText="إغلاق">
              <ion-option value="value1">أحمر</ion-option>
              <ion-option value="value2">أسود</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label>حالة السيارة</ion-label>
            <ion-select [placeholder]="'حالة السيارة'" okText="تم" cancelText="إغلاق">
              <ion-option value="value1">نظيفة</ion-option>
              <ion-option value="value2">غير نظيفة</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-textarea [(ngModel)]="notes" placeholder="ملاحظات" rows="5" name="notes"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="add-advertisment-images dark-controls">
        <ion-col (click)="uploadImage($event)">
          <div class="image-container">
            <div class="empty-content">
              <span class="add">+</span>
              <span class="description">صورة</span>
            </div>
          </div>
        </ion-col>
        <ion-col (click)="uploadImage($event)">
          <div class="image-container">
            <div class="empty-content">
              <span class="add">+</span>
              <span class="description">صورة</span>
            </div>
          </div>
        </ion-col>
        <ion-col (click)="uploadImage($event)">
          <div class="image-container">
            <div class="empty-content">
              <span class="add">+</span>
              <span class="description">صورة</span>
            </div>
          </div>
        </ion-col>
        <ion-col (click)="uploadImage($event)">
          <div class="image-container">
            <div class="empty-content">
              <span class="add">+</span>
              <span class="description">صورة</span>
            </div>
          </div>
        </ion-col>
        <ion-col [hidden]="lastImage !== null" align-self-center (click)="presentActionSheet()">
          <div class="image-container main-image">
            <div class="empty-content">
              <span class="add">+</span>
              <span class="description">الصورة الرئيسية</span>
            </div>
          </div>
          <div class="main-image-title">
            لواجهة السيارة
          </div>
        </ion-col>
        <ion-col [hidden]="lastImage === null" align-self-center>
          <div class="image-container main-image">
            <img src="{{pathForImage(lastImage)}}" style="width: 100%" >
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <button ion-button full class="submit-advertisment" (click)="add_car()" >انشر الإعلان</button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="activeTab == 2">
      <ion-row class="add-advertisment-form dark-controls">
        <ion-col col-12>
          <ion-item>
            <ion-input type="text" placeholder="عنوان الإعلان"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col col-6>
          <ion-item>
            <ion-label>النوع</ion-label>
            <ion-select [placeholder]="'النوع'" okText="تم" cancelText="إغلاق">
              <ion-option value="value1">كيا</ion-option>
              <ion-option value="value2">مازدا</ion-option>
              <ion-option value="value3">ميرسيدس</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col col-6>
          <ion-item>
            <ion-label>عدد الكيلومترات</ion-label>
            <ion-select [placeholder]="'عدد الكيبلومترات'" okText="تم" cancelText="إغلاق">
              <ion-option value="value1">1</ion-option>
              <ion-option value="value2">2</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        
        <ion-col col-6>
          <ion-item>
            <ion-label>الهيئة</ion-label>
            <ion-select [placeholder]="'الهيئة'" okText="تم" cancelText="إغلاق">
              <ion-option value="value1">نظيفة</ion-option>
              <ion-option value="value2">حالة جيدة</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label>مواصفات الصنع</ion-label>
            <ion-select [placeholder]="'مواصفات الصنع'" okText="تم" cancelText="إغلاق">
              <ion-option value="value1">معايير عالية</ion-option>
              <ion-option value="value2">معايير متوسطة</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label>سنة الصنع</ion-label>
            <ion-select [placeholder]="'سنة الصنع'" okText="تم" cancelText="إغلاق">
              <ion-option value="value1">2010</ion-option>
              <ion-option value="value2">2012</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label>الضمان</ion-label>
            <ion-select [placeholder]="'الضمان'" okText="تم" cancelText="إغلاق">
              <ion-option value="value1">مع ضمان</ion-option>
              <ion-option value="value2">بدون ضمان</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label>اللون</ion-label>
            <ion-select [placeholder]="'الصنع'" okText="تم" cancelText="إغلاق">
              <ion-option value="value1">أحمر</ion-option>
              <ion-option value="value2">أسود</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label>حالة الشاحنة</ion-label>
            <ion-select [placeholder]="'حالة السيارة'" okText="تم" cancelText="إغلاق">
              <ion-option value="value1">نظيفة</ion-option>
              <ion-option value="value2">غير نظيفة</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-textarea placeholder="ملاحظات" rows="5" name="notes"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="add-advertisment-images dark-controls">
        <ion-col (click)="uploadImage($event)">
          <div class="image-container">
            <div class="empty-content">
              <span class="add">+</span>
              <span class="description">صورة</span>
            </div>
          </div>
        </ion-col>
        <ion-col (click)="uploadImage($event)">
          <div class="image-container">
            <div class="empty-content">
              <span class="add">+</span>
              <span class="description">صورة</span>
            </div>
          </div>
        </ion-col>
        <ion-col (click)="uploadImage($event)">
          <div class="image-container">
            <div class="empty-content">
              <span class="add">+</span>
              <span class="description">صورة</span>
            </div>
          </div>
        </ion-col>
        <ion-col (click)="uploadImage($event)">
          <div class="image-container">
            <div class="empty-content">
              <span class="add">+</span>
              <span class="description">صورة</span>
            </div>
          </div>
        </ion-col>
        <ion-col align-self-center (click)="uploadImage($event)">
          <div class="image-container main-image">
            <div class="empty-content">
              <span class="add">+</span>
              <span class="description">الصورة الرئيسية</span>
            </div>
          </div>
          <div class="main-image-title">
            لواجهة السيارة
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <button ion-button full class="submit-advertisment">انشر الإعلان</button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="activeTab == 3">
      <ion-row class="add-advertisment-form dark-controls">
        <ion-col col-12>
          <ion-item>
            <ion-input type="text" placeholder="عنوان الإعلان"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col col-6>
          <ion-item>
            <ion-label>النوع</ion-label>
            <ion-select [placeholder]="'النوع'" okText="تم" cancelText="إغلاق">
              <ion-option value="value1">كيا</ion-option>
              <ion-option value="value2">مازدا</ion-option>
              <ion-option value="value3">ميرسيدس</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col col-6>
          <ion-item>
            <ion-label>عدد الكيلومترات</ion-label>
            <ion-select [placeholder]="'عدد الكيبلومترات'" okText="تم" cancelText="إغلاق">
              <ion-option value="value1">1</ion-option>
              <ion-option value="value2">2</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label>الموديل</ion-label>
            <ion-select [placeholder]="'الموديل'" okText="تم" cancelText="إغلاق">
              <ion-option value="value1">1</ion-option>
              <ion-option value="value2">2</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label>الأبواب</ion-label>
            <ion-select [placeholder]="'الأبواب'" okText="تم" cancelText="إغلاق">
              <ion-option value="value1">2</ion-option>
              <ion-option value="value2">4</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label>الهيئة</ion-label>
            <ion-select [placeholder]="'الهيئة'" okText="تم" cancelText="إغلاق">
              <ion-option value="value1">نظيفة</ion-option>
              <ion-option value="value2">حالة جيدة</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label>مواصفات الصنع</ion-label>
            <ion-select [placeholder]="'مواصفات الصنع'" okText="تم" cancelText="إغلاق">
              <ion-option value="value1">معايير عالية</ion-option>
              <ion-option value="value2">معايير متوسطة</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label>سنة الصنع</ion-label>
            <ion-select [placeholder]="'سنة الصنع'" okText="تم" cancelText="إغلاق">
              <ion-option value="value1">2010</ion-option>
              <ion-option value="value2">2012</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label>الضمان</ion-label>
            <ion-select [placeholder]="'الضمان'" okText="تم" cancelText="إغلاق">
              <ion-option value="value1">مع ضمان</ion-option>
              <ion-option value="value2">بدون ضمان</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label>اللون</ion-label>
            <ion-select [placeholder]="'الصنع'" okText="تم" cancelText="إغلاق">
              <ion-option value="value1">أحمر</ion-option>
              <ion-option value="value2">أسود</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label>حالة الدراجة</ion-label>
            <ion-select [placeholder]="'حالة السيارة'" okText="تم" cancelText="إغلاق">
              <ion-option value="value1">نظيفة</ion-option>
              <ion-option value="value2">غير نظيفة</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-textarea placeholder="ملاحظات" rows="5" name="notes"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="add-advertisment-images dark-controls">
        <ion-col (click)="uploadImage($event)">
          <div class="image-container">
            <div class="empty-content">
              <span class="add">+</span>
              <span class="description">صورة</span>
            </div>
          </div>
        </ion-col>
        <ion-col (click)="uploadImage($event)">
          <div class="image-container">
            <div class="empty-content">
              <span class="add">+</span>
              <span class="description">صورة</span>
            </div>
          </div>
        </ion-col>
        <ion-col (click)="uploadImage($event)">
          <div class="image-container">
            <div class="empty-content">
              <span class="add">+</span>
              <span class="description">صورة</span>
            </div>
          </div>
        </ion-col>
        <ion-col (click)="uploadImage($event)">
          <div class="image-container">
            <div class="empty-content">
              <span class="add">+</span>
              <span class="description">صورة</span>
            </div>
          </div>
        </ion-col>
        <ion-col align-self-center (click)="uploadImage($event)">
          <div class="image-container main-image">
            <div class="empty-content">
              <span class="add">+</span>
              <span class="description">الصورة الرئيسية</span>
            </div>
          </div>
          <div class="main-image-title">
            لواجهة الدراجة
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <button ion-button full class="submit-advertisment">انشر الإعلان</button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="activeTab == 4">
        <ion-row class="add-advertisment-form dark-controls">
          <ion-col col-12>
            <ion-item>
              <ion-input type="text" placeholder="عنوان الإعلان"></ion-input>
            </ion-item>
          </ion-col>
  
          <ion-col col-6>
            <ion-item>
              <ion-label>النوع</ion-label>
              <ion-select [placeholder]="'النوع'" okText="تم" cancelText="إغلاق">
                <ion-option value="value1">كيا</ion-option>
                <ion-option value="value2">مازدا</ion-option>
                <ion-option value="value3">ميرسيدس</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
  
          <ion-col col-6>
            <ion-item>
              <ion-label>عدد الكيلومترات</ion-label>
              <ion-select [placeholder]="'عدد الكيبلومترات'" okText="تم" cancelText="إغلاق">
                <ion-option value="value1">1</ion-option>
                <ion-option value="value2">2</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item>
              <ion-label>الموديل</ion-label>
              <ion-select [placeholder]="'الموديل'" okText="تم" cancelText="إغلاق">
                <ion-option value="value1">1</ion-option>
                <ion-option value="value2">2</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item>
              <ion-label>الأبواب</ion-label>
              <ion-select [placeholder]="'الأبواب'" okText="تم" cancelText="إغلاق">
                <ion-option value="value1">2</ion-option>
                <ion-option value="value2">4</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item>
              <ion-label>الهيئة</ion-label>
              <ion-select [placeholder]="'الهيئة'" okText="تم" cancelText="إغلاق">
                <ion-option value="value1">نظيفة</ion-option>
                <ion-option value="value2">حالة جيدة</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item>
              <ion-label>مواصفات الصنع</ion-label>
              <ion-select [placeholder]="'مواصفات الصنع'" okText="تم" cancelText="إغلاق">
                <ion-option value="value1">معايير عالية</ion-option>
                <ion-option value="value2">معايير متوسطة</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item>
              <ion-label>سنة الصنع</ion-label>
              <ion-select [placeholder]="'سنة الصنع'" okText="تم" cancelText="إغلاق">
                <ion-option value="value1">2010</ion-option>
                <ion-option value="value2">2012</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item>
              <ion-label>الضمان</ion-label>
              <ion-select [placeholder]="'الضمان'" okText="تم" cancelText="إغلاق">
                <ion-option value="value1">مع ضمان</ion-option>
                <ion-option value="value2">بدون ضمان</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          
          <ion-col col-12>
            <ion-item>
              <ion-textarea placeholder="ملاحظات" rows="5" name="notes"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="add-advertisment-images dark-controls">
          <ion-col (click)="uploadImage($event)">
            <div class="image-container">
              <div class="empty-content">
                <span class="add">+</span>
                <span class="description">صورة</span>
              </div>
            </div>
          </ion-col>
          <ion-col (click)="uploadImage($event)">
            <div class="image-container">
              <div class="empty-content">
                <span class="add">+</span>
                <span class="description">صورة</span>
              </div>
            </div>
          </ion-col>
          <ion-col (click)="uploadImage($event)">
            <div class="image-container">
              <div class="empty-content">
                <span class="add">+</span>
                <span class="description">صورة</span>
              </div>
            </div>
          </ion-col>
          <ion-col (click)="uploadImage($event)">
            <div class="image-container">
              <div class="empty-content">
                <span class="add">+</span>
                <span class="description">صورة</span>
              </div>
            </div>
          </ion-col>
          <ion-col align-self-center (click)="uploadImage($event)">
            <div class="image-container main-image">
              <div class="empty-content">
                <span class="add">+</span>
                <span class="description">الصورة الرئيسية</span>
              </div>
            </div>
            <div class="main-image-title">
              لواجهة القارب
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <button ion-button full class="submit-advertisment">انشر الإعلان</button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="activeTab == 5">
          <ion-row class="add-advertisment-form dark-controls">
            <ion-col col-12>
              <ion-item>
                <ion-input type="text" placeholder="عنوان الإعلان"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-6>
                <ion-item>
                  <ion-input type="text" placeholder="الرقم"></ion-input>
                </ion-item>
              </ion-col>
            <ion-col col-6>
              <ion-item>
                <ion-label>الشركة</ion-label>
                <ion-select [placeholder]="'الشركة'" okText="تم" cancelText="إغلاق">
                  <ion-option value="value1">اتصالات</ion-option>
                  <ion-option value="value2">دو</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
    
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <button ion-button full class="submit-advertisment" >انشر الإعلان</button>
            </ion-col>
          </ion-row>
        </ion-grid>

  </div>

</ion-content>
